@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root{
    font-family: 'Ubuntu', sans-serif; 
    --text-primary: #333;
    --text-secondary:'#666';
    --text-tertiary:'#666';
    --background:#fff;
    --color-primary: #F25C26;
}

html{
    font-size: 68.5%;
}
body{
    font-size: 1.4rem;
}
div, a, p, ul,li, html, body, button {
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style-type: none;
}
header{
    background-color: var(--background);
}
h1 {
    color: var(--text-primary);
}
h2,h3{
    color: #444 !important;
}
h4,h5,h6{
    color: var(--text-tertiary);
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .5rem 1.5rem;
    
}
.header-divider{
    width: 100%;
    margin: 0;
    background-color: var(--text-secondary);
}
.logo-image{
    width: 13rem;
    
}

.header-left{
    display: flex;
    align-items: center;
}
.links{
    font-weight: 500;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-primary);
}
.links:hover{
    color: var(--text-secondary);
}
.header-left a {
    margin-right: 2rem;
}

.button{
    text-transform: uppercase;
    padding: .8rem 1.5rem;
    font-weight: 600;
    color: inherit;
    margin: 0 .7rem;
    font-size: 1.3rem;
    letter-spacing: 1px;
}

.login{
    border: 1px solid var(--text-primary);
    border-radius: 5rem;
}

.signup{
    border-radius: 5rem;
    border: 1px solid var(--text-primary);
    background: var(--text-primary);
    color: #fff;
    transition: all .2s linear;
}

.signup:hover{
    background: #555 ;
    border: 1px solid #555;
}


.login-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.login-info{
    display: flex;
}

.login-block{
    margin: 2rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-block a {
    background:var(--text-primary);
    color: #fff;
    padding: 1rem 3rem;
    border-radius: 5rem;
    font-weight: 500;


}
.login-heading{
    margin-bottom: 4rem;
    color: #555;
}


.login-input{
    min-width:30rem;
    max-width: 50rem;
    margin: 1rem;
    padding: 5px;
    height: 3rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: inherit;
    color: var(--text-primary);
    font-family: inherit;
    outline-color: #666;
}

.login-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input label{
    margin: 0 1rem;
    font-weight: 500;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form input[type=submit]{
    border-radius: 10rem;
    border: none;
    background: #333;
    color: #fff;
    margin: 1rem;
}


.browse-btn{
    padding: 1rem;
    margin-top: 3rem;
    background: var(--color-primary) ;
    border-radius: 10rem;
}

.hero-content{
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.course-card{
    max-width: 25rem;
    min-width: 14rem;
    display: flex;
    flex-direction: column;
    margin: 2rem 1.5rem;
}
.course-image{
    width: 100%;
    max-width: 22rem;
    border-radius: 5px;
    margin-bottom: 7px;
}
.course-link{
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #333;
}
.course-link:hover{
    color: #F25C26;
}
.course-instructors{
    font-size: 1.1rem;
    color: #666;
}
.course-info{
    font-size: 1.3rem;
    margin:8px 0;
    color: #444;
}

.browse-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(22rem, 1fr) );
    grid-auto-rows: auto;
    grid-auto-columns: 25rem;
    align-content: center;
    justify-content: center;
    margin: 2rem;
}

.search-input{
    max-width: 30rem;
    min-width: 15rem;
    height: 1.6rem;
    padding: 6px;
    border: none;
    outline: none;
    border-bottom: 1px solid #333;
}

.dashboard-courses{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(22rem, 1fr) );
    grid-auto-rows: auto;
    grid-auto-columns: 25rem;
    align-content: center;
    justify-content: center;
    margin: 2rem;
}

.course-content{
    width: 80%;
          overflow-x: hidden;
          overflow-y : scroll;
}

.course-content::-webkit-scrollbar{
    display: none;
}


.sidebar{
    
    background-color: #333;
    transition: all 0.3s linear;
}


.nav-items{
    display: flex;
    flex-direction: column;
   
    width: inherit;

}

.fa-bars{
    font-size: 2rem;
    list-style-type: ;
    
}
.nav-item{
    margin: 2px 0;
    margin-right: 10px;
    padding: 1.5rem 1.5rem;
    cursor: pointer;
    border-radius: 0 2rem 2rem 0;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    transform: background-color .3s linear;
}

.nav-item.active{
    background-color: #F25C26;
}

.course-videos{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(25rem, 1fr) );
    grid-auto-rows: auto;
    grid-auto-columns: auto;

    
}
.assignments-container{
    margin: 2rem;
    display: flex;
    flex-direction: column;
}


.course-assigments{
    display: flex;
    flex-direction: column;
    
}

.assignment-answer{
    resize: none;
    height: 10rem;
    margin-bottom: 1rem;
    max-width: 90vw;
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    font-family: inherit;
    padding: 1rem;
    font-size: 1.5rem;
}

.question-file-upload{
    background-color: #ccc;
    display: inline-block;
    padding: 1rem 2rem;
    color: #444;
    font-weight: 500;
    margin-right: 2rem;
}
.new-course-btn{
    
    color: #F25C26;
    font-weight: 500;
}
.ins-dash-container{
    margin: 2rem;
}
@media (max-width: 600px) {
    html{
        font-size: 50%;
    }
    

}
@media (min-width: 1440px) {
    html{
        font-size: 75%;
    }
    

}

@media (min-width: 2000px) {
    html{
        font-size: 100%;
    }
    

}

@media (max-width:400px) {
    .browse-list{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        
    }
    .course-card{
        max-width: none;
    }
    .course-image{
        max-width: none;
    }
    
}